
/* ************  theme 1 color  ***************** */


/* color 1 */

.scrolltotop:hover{
    background-color: #006400;
  }
  .btn-theme:before{
    border-bottom-color: #006400;
  }
  .btn-theme:after{
    border-top-color: #006400;
  }
  .btn-theme.btn-active{
    background-color: #006400;
  }
  .btn-theme.btn-active:hover{
    color: #006400;
  }
  .accord-partner h2::after{
    background-color: #006400;
  }
  .top-head {
    border-bottom-color: #006400;
    background-color: #006400;
  }
  .all-title h3::after,
  .all-title h3::before,
  .all-title h3 span::after,
  .all-title h3 span::before,
  .top-head ul,
  .counter-1::after {
    background-color: #006400;
  }
  .slide-content .btn-theme:hover{
    border-color: #006400;
  }
  .mobile-menu .has-sub.current .menu-link,
  .mobile-menu a:hover,
  .slide-content h3 {
    color: #006400;
  }
  .top-head .btn-theme{
    color:black;
  }

  .theme-slider .owl-nav [class*="owl-"]:hover {
    background-color: #fff;
    color: #006400;
  }
  .theme-slider .owl-nav .owl-prev,
  .theme-slider .owl-nav .owl-next {
    background-color: #006400;
  }
  .slide-content .btn-theme.btn-active{
    border-color: #006400;
  }
  .slide-content .btn-theme.btn-active:hover{
     color: #006400;
  }
  .theme-slider .owl-dots .owl-dot.active span,
  .theme-slider .owl-dots .owl-dot:hover span {
    background-color: #006400;
  }
  .grow-business .btn-theme {
      border-color: #006400;
      color: #006400;
    }
    .grow-business .btn-theme:hover {
      background-color: #006400;
      color: #fff;
    }
    .buz-video .vid-btn,
    .testimonial .owl-dots .owl-dot.active span,
      .testimonial .owl-dots .owl-dot:hover span {
      background-color: #006400;
    }
    .buz-video .vid-btn i {
      color: #fff;
    }
    .grow-business .btn-theme.btn-active:hover,
    .testimonial .testi-content h4,
    .testimonial .owl-nav [class*="owl-"]:hover,
    .theme-pagination .pagin {
      color: #006400;
    }
    .theme-pagination .pagin,
    .side-form:focus,
    .side-form:hover,
    .comment-form .form-control:focus,
  .comment-form .form-control:hover {
      border-color:#006400;
    }
    .comment-block span{
      color: #006400;
    }
  .h-border::after {
      background-color: #006400;
  }
  .theme-pagination .pagin.active,
  .theme-pagination .pagin:hover {
              background: #006400;
          }
  .quote,
  .more-case::after {
    background-color: #006400;
  }
    .quote::after{
      background-color: #006400;
  }
  .quote .btn-theme:hover.btn-theme:before{
    border-bottom-color:black;
  }
  .quote .btn-theme:hover.btn-theme:after{
    border-top-color:black;
  }
  .service-wrap:hover::after,
  .service-wrap.current::after,
  .service-wrap::before{
      background-color: #006400;
  }
  .service-wrap h4 {
    color:black;
  }
  .service-icon i{
    color:black;
  }
  .service-03 .service-wrap:hover{
    border-color: #006400;
  }

  .case-tab::before {
      border-bottom-color:black;
  }
  .case-tab:hover,
  .case-tab.active {
    color: #006400;
  }
  .case-panel-wrap::after {
    background-color:black;
  }
  .case-info a:hover{
    color: #006400
  }
  .team-overlay {
    background-color: #006400;
  }
  .social li a:hover {
    background-color: #006400;
  }
  .icon-holder::after,
  .icon-holder::before,
  .icon-holder span::after,
  .icon-holder span::before {
      background-color: #006400;
  }
  .cta-2 .btn-theme {
    background-color:black;
    border-color:black;
  }
  .cta-2 p{
    color: #006400
  }
  .cta-3 {
    background-color: #006400;
  }
  .timeline-block:nth-child(even) .timeline-icon::after,
  .timeline-block:nth-child(even) .timeline-icon::before{
    background-color: #006400
  }

  .blog-content h4 a:hover {
      color: #006400;
    }
    .post-meta a {
      color: #006400;
    }
    .blog-content .btn-theme {
      background-color:black;
      border-color:#006400;
    }
    .blog-content .btn-theme:hover {
      background-color: transparent;
    }
    .btn-blog-h:hover {
      color: #006400;
      border-bottom: 1px solid #006400;
    }
    .blog-item:hover .blog-content,
    .blog-horiz:hover .blog-content {
      -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.2);
    }
    .partner {
      background-color: #006400;
    }
    .attach + label strong{
      border-color:#006400;
      color: #006400;
    }


  .contact-us .form-control:focus,
  .contact-us .form-control:hover {
    border-color: #006400;
  }
  .footer-form .form-control:focus,
  .footer-form .form-control:hover {
    border-color: #006400;
  }
  .footer-form .btn-theme {
    background-color: #006400;
    border-color: #006400;
  }

  .menubar .menu-link::before{
      background-color: #006400;
  }
  .menubar .dropdown a{
      background-color:black;
  }
  .menubar .dropdown a:hover{
    background-color:  #006400;
  }
  .progres h4,
  .progres h5,
  .progres .per{
    color:black
  }
  .timeline-block:nth-child(even) .timeline-icon {
    background-color: #006400;
  }
  .t-date {
    background-color: #006400;
  }
  .filter-btn {
    border-color: #006400;
    color: #006400;
  }
  .filter-btn.active{
      background-color: #006400;
  }
  .project-detail h4 {
      background-color:black
  }
  .single-team .member-info{
      background-color: #006400;
  }

  .single-team-detail li i {
      background-color: #006400;
  }
  .cta .btn-theme {
      background-color: #006400;
  }
  .residenc h4 {
      color: #006400;
  }
  .panel-link.collapsed {
    border-bottom-color: #006400;
  }
  .panel-link::after {
    color: #006400;
  }
  .panel-link.collapsed::after {
      background-color: #006400;
  }
  .next:hover,
  .prev:hover {
      color: #006400;
  }
  .post-detail-meta a:hover {
    color: #006400;
  }
  .user-post h4 span {
    color: #006400;
  }

  .reply:hover {
    color: #006400;
  }
  .page404 h2 {
    color: #006400;
  }
  .page404 .btn-theme {
    color: #006400;
  }


  /* color 2 */
  body,
  .menu-link,
  .close-menu,
  .service-03 .service-icon i,
  .service-03 .service-icon,
  .service-03 .service-icon,
  .timeline-icon::before,
  .case-tab,
  .case-info a,
  .pro-info p,
  .member-detail .social a,
  .testimonial .owl-nav .owl-prev,
  .testimonial .owl-nav .owl-next,
  .blog-content h4 a,
  .post-meta li,
  .btn-blog-h,
  .contact-us .form-control,
  .sel-wrap:after,
  .contact-us form span,
  .next,
  .prev,
  .widget-post-info a,
  .blog-category a,
  .blog-category a span,
  .post-detail-meta li,
  .user-post h4,
  .reply {
    color: black;
  }
  .btn-blog-h {
    border-bottom-color:black;
  }

  .pointer:before {
    border-left-color:black;
  }

  .service-03 .service-wrap,
  .pro-info,
  .member-detail .social a,
  .cta-3 .btn-theme,
  .progres::after,
  .meter-wrap,
  .comment-form .form-control {
    border-color: black;
  }


  .comment-btn,
  .pointer,
  .accord-partner,
  .footer,
  .send,
  .header,
  .sticky-menu,
  .features-inner,
  .quote .btn-theme,
  .our-history,
  .timeline-content,
  .member-detail .social li::before,
  .member-detail .social li::after,
  .member-detail .social li a::before,
  .member-detail .social li a::after,
  .cta ,
  .cta-3 .btn-theme,
  .progres .side-icon,
  .meter .skill-bar,
  .testimonial .img-holder::after,
  .testimonial .img-holder::before,
  .testimonial .img-holder span:after,
  .testimonial .owl-dots .owl-dot span {
    background-color:#2e3841;
  }

  .feature-no-margin {
    text-align: center;
    background-color:#fff;
    padding: 0;
    margin-top:0;
  }

  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	line-height: 1.45;
  }
  .dropdown-item {
	padding: 0;
  }

  .link-blue {
    background-color: #2e3841;
  }
