/* styleswitcher-left */
.styleswitcher .switcher-title {
    font-weight: 800;
    margin: 10px 5px;
    text-transform: uppercase;
}
.styleswitcher {
    background-color: #ffffff;
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.1);
    height: 100%;
    left: -220px;
    padding: 15px;
    position: fixed;
    top: 0;
    width: 220px;
    z-index: 99999;
}
.styleswitcher-inner {
    height: 100%;
    left: 0;
    overflow: auto;
    padding: 15px;
    position: absolute;
    top: 0;
    width: 100%;
}
.styleswitcher .switcher-btn-bx {
    box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.1);
    position: absolute;
    right: -40px;
    top: 200px;
}
/* styleswitcher-left End*/
/* styleswitcher-right */
.styleswitcher-right .switcher-title {
    font-weight: 800;
    margin: 10px 5px;
    text-transform: uppercase;
}
.styleswitcher-right {
    background-color: #ffffff;
    box-shadow: -3px 1px 5px rgba(0, 0, 0, 0.1);
    height: 100%;
    right: -220px;
    padding: 15px;
    position: fixed;
    top: 0;
    width: 220px;
    z-index: 999;
}
.styleswitcher-right .switcher-btn-bx {
    position: absolute;
    left: -40px;
    top: 200px;
}
.styleswitcher-right .switch-btn { 
	box-shadow:-3px 1px 5px rgba(0, 0, 0, 0.1); 
}
/* styleswitcher-right End */
.switch-btn {
    background: #ffffff none repeat scroll 0 0;
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.1);
    color: #333333;
    cursor: pointer;
    display: block;
    font-size: 21px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;
}
.layout-view, .nav-view, .header-view, .color-skins, .pattern-switcher, .background-switcher {
    margin: 0;
    padding: 0;
}
.layout-view li, .nav-view li, .header-view li {
    border: 2px solid #999999;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    margin: 5px;
    min-width: 70px;
    padding: 5px 15px;
    text-align: center;
}
.layout-view li.active, .nav-view li.active, .header-view li.active {
    border: 2px solid #333333;
    color: #333333;
}
.color-skins li {
    cursor: pointer;
    display: inline-block;
    list-style: outside none none;
    margin: 0 4px 10px;
}
.color-skins li a {
    display: block;
    height: 35px;
    width: 35px;
}
.color-skins li .skin-1 {
    background: #3764eb; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #3764eb 51%, #3764eb 51%, #2e3841 51%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #3764eb 51%,#3764eb 51%,#2e3841 51%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #3764eb 51%,#3764eb 51%,#2e3841 51%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.color-skins li .skin-2 {
    background-color: #fdd415;
    background: -moz-linear-gradient(-45deg, #fdd415 51%, #fdd415 51%, #012f5c 51%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #fdd415 51%,#fdd415 51%,#012f5c 51%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #fdd415 51%,#fdd415 51%,#012f5c 51%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.color-skins li .skin-3 {
    background: #ff784b; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #ff784b 51%, #ff784b 51%, #181820 51%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #ff784b 51%,#ff784b 51%,#181820 51%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #ff784b 51%,#ff784b 51%,#181820 51%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.color-skins li .skin-4 {
    background-color: #1abc9c;
    background: -moz-linear-gradient(-45deg, #1abc9c 51%, #1abc9c 51%, #131b13 51%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #1abc9c 51%,#1abc9c 51%,#131b13 51%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #1abc9c 51%,#1abc9c 51%,#131b13 51%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.color-skins li .skin-5 {
    background-color: #f4bc4f;
    background: -moz-linear-gradient(-45deg, #f4bc4f 51%, #f4bc4f 51%, #000000 51%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #f4bc4f 51%,#f4bc4f 51%,#000000 51%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #f4bc4f 51%,#f4bc4f 51%,#000000 51%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.color-skins li .skin-6 {
    background-color: #10e4ce;   
    background: -moz-linear-gradient(-45deg, #10e4ce 51%, #10e4ce 51%, #000000 51%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #10e4ce 51%,#10e4ce 51%,#000000 51%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #10e4ce 51%,#10e4ce 51%,#000000 51%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.color-skins li .skin-7 {
    background-color: #ff784b;   
    background: -moz-linear-gradient(-45deg, #ff784b 51%, #ff784b 51%, #333333 51%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #ff784b 51%,#ff784b 51%, #333333 51%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #ff784b 51%,#ff784b 51%,#333333 51%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.color-skins li .skin-8 {
    background-color: #fc3d6a;
    background: -moz-linear-gradient(-45deg, #fc3d6a 51%, #fc3d6a 51%, #130052 51%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #fc3d6a 51%,#fc3d6a 51%, #130052 51%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #fc3d6a 51%,#fc3d6a 51%,#130052 51%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.background-switcher li {
    cursor: pointer;
    display: inline-block;
    height: 35px;
    margin: 0 4px 10px;
    width: 35px;
}
.pattern-switcher li {
    cursor: pointer;
    display: inline-block;
    height: 19px;
    margin: 0 4px 10px;
    width: 19px;
}
/*--------------------------------------
   switcher theme customize
---------------------------------------*/
.styleswitcher {
    height: auto;
    top: 20%;
}
.styleswitcher-inner {
    padding: 0;
    position: relative;
}
.styleswitcher .switcher-btn-bx{
    height: auto;
    top: 50px
}